/* egymas mellett lévő navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0ba8f0;
  width:70%;
}
li {
  float: center;
  display: inline;
}
li a {
  display:inline-block;
  color:white;
  text-align: center;
  padding:5px 50px;
  text-decoration:none;
}
li a:hover { /*amikor ra viszed az egeret */
  background-color: #43464b;
  text-decoration:underline;
  color:#86ED26;
}
/* egymas mellett lévő navbar */
/* keszitette: */
.footer {
  position:relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  font-size: 1;
  background: #0ba8f0;
  color: black;
  text-align: center;
  font-weight:bold;
}
/* content */
.fooldaltabla {
  align-self:center;
  width:100%;
}
.fooldaladat {
  width:15%;
  text-align:center;
}
.fooldaltexttabla {
  text-align:justify;
  width:70%;
}
.fontmain {
  color:white;
  font-size: 6;
  row-gap: 3px;
  text-shadow: 2px 2px 2px black;
}
body {
  background-image:url(https://media.discordapp.net/attachments/938436612075978813/1040278156541698069/hatter.jpg);
  background-color: #E8BEAC;
  background-repeat: space;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
/* content */
/* vonal-szovegbe */
hr {
  color:#0ba8f0;
  width:75%;
  size:3px;
  align-self:center;
}
/* vonal */
/* Marvel.fandom főcim */
.fontcim_feher {
  font-family:'Marvel', sans-serif, 'Times New Roman';
  text-decoration:bold;
  font-size:60px;
  color:white;
  text-shadow: 2px 2px 2px black;
}
.fontcim_piros {
  font-family:'Marvel', sans-serif, 'Times New Roman';
  text-decoration:bold;
  font-size:60px;
  color:#ed1d24;
  text-shadow: 2px 2px 2px black;
}
.icon {
  color:#05a732;
  font-size:60px;
  text-shadow: 2px 2px 2px black;
}
/* Marvel.fandom főcim */
/* főcim alatti/feletti vonal */
.title_hr {
  color:#0ba8f0;
  width:50%;
  size:3px;
  align-self:center;
}
/* főcim alatti/feletti vonal */
/* jobb-ball marvel logo */
.marvel_logo {
  width:100%;
  height:100;
}
/* jobb-ball marvel logo */
/* oscar kép embed */
.oscar {
  width:70%;
  height:100%;
}
/* oscar kép embed */
/* aloldaltext */
.aloldaltexttabla {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/* aloldaltext */
/* összevont 3 td a 3 kép felé, mozifilmek aloldal */
.mozifilm_td {
  text-align:justify;
}
/* összevont 3 td a 3 kép felé, mozifilmek aloldal */
/* link kiemeles mozifil alodlalon */
.rottenscore {
  color:greenyellow;
  text-shadow: 1px 1px 1px black;
}
/* link kiemeles mozifil alodlalon */
/* mozifilmek aloldal, poszter size */
.poszter {
  width:225px;
  height:400px;
}
/* mozifilmek aloldal, poszter size */
/* szereplok.html karaker png meret */
.karakterposzter {
  height: 350px;
  width: 295px;
}
/* szereplok.html karaker png meret */
/* szereplok.html szoveg resz */
.karakterposzter_tabla {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 0px;
}
/* szereplok.html szoveg resz */
/* h1 textshadow */
.h1title {
  color: white;
  row-gap: 3px;
  text-shadow: 2px 2px 2px black;
}
/* h1 textshadow */
/*forrasok lista formázás */
.forrasokblokk {
  margin-left: 2cm;
}
/*forrasok lista formázás */